*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    color: #333;
    font-family: Roboto, Verdana, Sans-serif;
    margin: 0;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.select-moment-btn .ui-button__content {
    text-transform: capitalize;
}

.finalList > .moment > b {
    text-transform: capitalize;
}
.finalList.hangingDisplay {
    background: #DEDFE2;
    color: white;
    font-size: 600%;
    letter-spacing: 0.1em;
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    margin: 0;
    padding: 0;
    z-index: 9999;
    border-right: 0.1em solid #AAAEB5;
}
.hangingDisplay.finalList .song-number {
    background: black;
    min-width: 3em;
    display: block;
    margin-bottom: 0.1em;
    margin-left: 0;
}
.hangingDisplay.finalList .reading {
    display: block;
}
.hangingDisplay.finalList .reading .song-number {
    position: fixed;
    top: 0;
    left: 3.1em;
    text-align: left;
    padding-left: 0.2em;
    border-bottom: 0.1em solid #DEDFE2;
}
.hangingDisplay .song-title {
    display: none;
}
.hangingDisplay br {
    display: none;
}
.hangingDisplay b {
    display: none;
}
.hangingDisplay button {
    display: none;
}
.hangingDisplay .new-moment {
    display: none;
}

#qrcode img {
    margin: 0 auto;
}

.centerText {
    text-align: center;
}

#version {
    font-size: 10px;
    color: #555;
}

#btnPrevSunday {
    float: left;
    margin-right: 0.5em;
}
#btnNextSunday {
    margin-left: 0.5em;
    float: right;
}

.one-song {
    margin: 1px;
}

.finalList {
    position: relative;
    padding-left: 0;
    list-style: none;
    line-height: 1.5em;
}
.finalList .song-number {
    margin-left: 0.5em;
}
.finalList .song-title {
    margin-left: 0.5em;
}
#btnClear {
    float: right;
    margin-right: 0.5em;
}
#btnSave {
    float: right;
}
.finalList .reading {
    display: none;
}

.ui-button {
    text-transform: none;
}

#header {
    padding: 0.5em;
    background-image: url('../images/music_notes.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    color: #133981;
}
#header a {
    color: #133981;
    text-decoration: underline;
}

#content {
    width: 85%;
    margin: 0 auto;
}

.row > * {
    float: left
}
.row:after {
    display: table;
    content: "";
    clear: both;
}
#btnClearTopics {
    margin-left: 1em;
}

a {
    text-decoration: none;
    color: #3b78e7;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 14pt;
    }
    h2 {
        font-size: 12pt;
    }
}

button.ui-button.one-song.has-links {
    color: #000066;
}

.disabled {
    color: #BBB;
}
.label {
    margin-bottom: 0.5em;
}
