<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ICCH Songs</title>
        <link rel="stylesheet" href="dist/style7ea433c8e66498.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto" rel="stylesheet">
    </head>
    <body>
        <div id="app">
            <h1>Songs for Sunday {{ nextSunday }}</h1>
            <ul class="finalList">
                <li><b>Entrance:</b> {{ selectedSongs.entrance.number }} {{ selectedSongs.entrance.title }}    <ui-button type="secondary" @click="removeSong('entrance')" size="small" v-if="selectedSongs.entrance.number.length > 0" icon="delete"></ui-button></li>
                <li><b>Offertory:</b> {{ selectedSongs.offertory.number }} {{ selectedSongs.offertory.title }} <ui-button type="secondary" @click="removeSong('offertory')" size="small" v-if="selectedSongs.offertory.number.length > 0" icon="delete"></ui-button></li>
                <li><b>Communion:</b> {{ selectedSongs.communion.number }} {{ selectedSongs.communion.title }} <ui-button type="secondary" @click="removeSong('communion')" size="small" v-if="selectedSongs.communion.number.length > 0" icon="delete"></ui-button></li>
                <li><b>Recession:</b> {{ selectedSongs.recession.number }} {{ selectedSongs.recession.title }} <ui-button type="secondary" @click="removeSong('recession')" size="small" v-if="selectedSongs.recession.number.length > 0" icon="delete"></ui-button></li>
                <br />
                <ui-button @click="clearSongs" color="default">Clear</ui-button>
                <ui-button @click="openModal('saveDialog')" id="btnSave" color="primary">Save</ui-button>
            </ul>
            <h2>History</h2>
            <p v-if="recentSongs.length === 0">
                No songs removed from schedule yet...
            </p>
            <div class="song-list">
                <ui-button v-for="song in recentSongs"
                    class="one-song"
                    type="primary"
                    v-bind:color="song.selected ? 'orange' : 'default'"
                    size="small"
                    @click="openSelectSongModal('whichSong', song.number, song.title)"
                    icon="music_note">

                    <b>{{ song.number }}</b>&nbsp;{{ song.title }}
                </ui-button>
            </div>

            <h1>Suggest Songs</h1>
            <ul>
                <li>
                    Canadian Conference of Catholic Bishops:
                    <a target="_blank" href="http://www.cccb.ca/site/Files/CBW_III_Music_suggestions_YrA.html">Year A</a>
                    <a target="_blank" href="http://www.cccb.ca/site/Files/CBW_III_Music_suggestions_YrB.html">Year B</a>
                    <a target="_blank" href="http://www.cccb.ca/site/Files/CBW_III_Music_suggestions_YrC.html">Year C</a>
                </li>
                <li>
                    <a target="_blank" href="https://sites.google.com/site/musicministrywenty/music-suggestions">Music Ministry - Our Lady of Mount Carmel</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.liturgytools.net/p/roman-catholic-lectionary-based-hymn.html">Liturgytools.net</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.asonevoice.com.au/liturgical-song-selection">As One Voice</a>
                </li>
                <li>
                    <a target="_blank" href="https://hymnary.org/browse/lectionary">Hymnary.org</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.canticanova.com/pln_main.htm">CanticaNOVA</a>
                </li>
                <li>
                    <a target="_blank" href="http://cc.blessedsacramentnc.org/music">Blessed Sacrament Catholic Community</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.stpatshistoric.org/index.php/bulletins/">The Historic Church of Saint Patrick</a> - songs listed in the bulletin
                </li>
            </ul>
            <h1>
                Search Songs
            </h1>
            <ui-textbox
                key="txtSearch"
                name="search"
                type="text"
                placeholder="find a song"
                icon="search"
                v-model="searchText"
                ></ui-textbox>

            <ui-button v-for="song in filteredSongs"
                class="one-song"
                type="primary"
                v-bind:color="song.selected ? 'green' : 'default'"
                size="small"
                @click="openSelectSongModal('whichSong', song.number, song.title)"
                v-bind:icon="stats[song.number] ? 'music_note': ''">

                <b>{{ song.number }}</b>&nbsp;{{ song.title }}
            </ui-button>

            <ui-modal 
                v-bind:title="selectedSong.number + ' - ' + selectedSong.title"
                ref="whichSong">
                <ui-button v-bind:type="selectedSongs.entrance.number.length > 0  ? 'primary' : 'secondary'" @click="setSong('entrance')">Entrance</ui-button>
                <ui-button v-bind:type="selectedSongs.offertory.number.length > 0 ? 'primary' : 'secondary'" @click="setSong('offertory')">Offertory</ui-button>
                <ui-button v-bind:type="selectedSongs.communion.number.length > 0 ? 'primary' : 'secondary'" @click="setSong('communion')">Communion</ui-button>
                <ui-button v-bind:type="selectedSongs.recession.number.length > 0 ? 'primary' : 'secondary'" @click="setSong('recession')">Recession</ui-button>
                <h3>Song Statistics</h3>
                <ul v-if="!!stats[selectedSong.number]">
                    <li>We sung this song {{ (stats[selectedSong.number] || {}).count || "unknown" }} times</li>
                    <li>We last sung it on {{ (stats[selectedSong.number] || {}).lastSung || "unknown" }}</li>
                </ul>
                <p v-else>No statistics available for this song</p>
            </ui-modal>

            <ui-modal 
                title="Enter Password"
                ref="saveDialog">

                <ui-textbox
                    name="password"
                    type="password"
                    icon="vpn_key"
                    v-model:text="password"></ui-textbox>

                <ui-button @click="save">Save</ui-button>

            </ui-modal>
        </div>
        <script type="text/javascript" src="dist/bundle7ea433c8e66498.min.js"></script>
    </body>
</html>
